@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

td.no-wrap {
	white-space: nowrap;
}

html {
	background: #FAF7F2;
	background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 2fr;
}

/**  Deck View Styles  **/

.u-clearfix:before,
.u-clearfix:after {
	content: " ";
	display: table;
}

.u-clearfix:after {
	clear: both;
}

.u-clearfix {
	*zoom: 1;
}

.subtle {
	color: #aaa;
}

.deck-container {
	display: grid;
	grid-gap: 35px;
	grid-template-columns: 1fr;
	grid-column: 2;
	grid-row: 1;
}

.card-container {
	margin: 25px auto 0;
	position: relative;
	width: 692px;
}

.card {
	background-color: #fff;
	padding: 30px;
	position: relative;
	box-shadow: 0 0 5px rgba(75, 75, 75, .07);
	z-index: 1;
}

.card-body {
	display: inline-block;
	float: left;
	width: 310px;
}

.card-number {
	margin-top: 15px;
}

.card-circle {
	border: 1px solid #aaa;
	border-radius: 50%;
	display: inline-block;
	line-height: 28px;
	font-size: 12px;
	height: 30px;
	text-align: center;
	width: 30px;
}

.card-house {
	display: block;
	font-size: 12px;
	letter-spacing: .5px;
	margin: 15px 0 0;
	text-transform: uppercase;
}

.card-title {
	font-family: 'Cormorant Garamond', serif;
	font-size: 60px;
	font-weight: 300;
	line-height: 60px;
	margin: 10px 0;
}

.card-description {
	display: inline-block;
	font-weight: 300;
	line-height: 22px;
	margin: 10px 0;
}

.card-type {
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 6px;
	margin: 5px 0 20px;
	position: relative;
	text-align: right;
	text-transform: uppercase;
}

.card-type:after {
	background-color: #b8bddd;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 9px;
}

.card-type-action:after {
	width: 65%;
}

.card-type-artifact:after {
	width: 55%;
}

.card-type-creature:after {
	width: 53%;
}

.card-type-upgrade:after {
	width: 57%;
}

.card-rarity {
	float: right;
	margin: 5px 0 0;
}

.card-media {
	float: right;
}

.card-shadow {
	background-color: #fff;
	box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
	height: 1px;
	margin: -1px auto 0;
	width: 80%;
	z-index: -1;
}



/**  Card Filter Styles  **/
.filter-container {
	grid-column: 1;
	grid-row: 1;
	padding-left: 25px;
	padding-top: 25px;
}

.filter-container, 
.search-box {
	width: 100%;
}

.search-input {
	border-radius: 6px 0px 0px 6px;
	box-shadow: 1px 2px 2px #ddd;
	box-sizing: content-box;
	height: 28px;
	width: 50%;
}

.search-input, 
.search-input:focus {
	background-color: none;
	border: none;
	color: #bbb;
	font-family: 'Open Sans';
	font-size: 14px;
	outline: 0;
	padding: 0 12px;
}

.search-settings-button,
.search-button {
	background-color: #fff;
	border: none;
	border-left: 1px solid #ddd;
	box-shadow: 1px 2px 2px #ddd;
	box-sizing: content-box;
	color: #bbb;
	cursor: pointer;
	display: inline-block;
	font-family: 'fontawesome';
	font-size: 14px;
	height: 23px;
	line-height: 26px;
	text-align: center;
	width: 28px;
}

.search-settings-button {
	border-radius: 0px 6px 6px 0px;
}

.search-button:hover,
.search-settings-button:hover {
	color: #686868;
}






























